{{define "subject"}}Welcome to IPDB{{end}}
{{define "plainbody"}}
Hi {{.UserName}}!
Thanks for signing up for a IPDB account. We're excited to have you on board!
For future refrence, your user ID is {{.UserId}}.

Please send a request to the 'PUT /v1/users/activation' endpoint with following the JSON body to activation your account:

{"token": "{{.TokenPlainText}}"}

please note that, this is a one-time activation token and it will expire in 3 days

Thanks,

The IPDB Team
{{end}}

{{define "htmlbody"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <p>
        Hi {{.Name}}!
    </p>
    <p>
        Thanks for signing up for a IPDB account. We're excited to have you on board!
        For future refrence, your user ID is {{.Id}}.
    </p>
    <p>
        Please send a request to the 'PUT /v1/users/activation' endpoint with following the JSON body to activation your account:
    </p>
    <pre>
        <code>
            {"token": "{{.TokenPlainText}}"}
        </code>
    </pre>
    <p>
        please note that, this is a one-time activation token and it will expire in 3 days
    </p>
    <p>
        Thanks,
    </p>
    <p>
        The IPDB Team
    </p>
</body>
</html>

{{end}}
