{{define "subject"}}Welcome to IPDB{{end}}
{{define "plainbody"}}
Hi {{.Name}}!
Thanks for signing up for a IPDB account. We're excited to have you on board!
For future refrence, your user ID is {{.Id}}.

Thanks,

The IPDB Team
{{end}}

{{define "htmlbody"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <p>
        Hi {{.Name}}!
    </p>
    <p>
        Thanks for signing up for a IPDB account. We're excited to have you on board!
        For future refrence, your user ID is {{.Id}}.
    </p>
    <p>
        Thanks,
    </p>
    <p>
        The IPDB Team
    </p>
</body>
</html>

{{end}}
